<section class="content-margin" *ngIf="order$ | async">
  <div>
    <mat-icon routerLink="/">close</mat-icon>
    <h2>{{ (order$ | async).title }} (#{{ (order$ | async).id }})</h2>
  </div>

  <mat-divider></mat-divider>
  <div>
    <p class="word-label-container">
      <b>Lieferung-Betrag:</b> <span>{{ (order$ | async).cost }} €</span>
    </p>
    <p class="word-label-container">
      <b>Lieferung-Gewicht:</b>
      <span>{{ (order$ | async).total_weight }} kg</span>
    </p>
    <p class="word-label-container">
      <b>Datum:</b>
      <span>{{ (order$ | async).timestamp | date: 'dd. LLLL, hh:mm' }}</span>
    </p>
  </div>
  <mat-divider></mat-divider>
  <p
    class="chip"
    *ngIf="['WEIGHTED', 'PAY', 'ERROR'].indexOf(order$ | async).status != -1"
  >
    <mat-icon>done</mat-icon>
    <span>Lieferung gewogen</span>
  </p>
  <p class="chip" *ngIf="'PAY' == (order$ | async).status">
    <mat-icon>done</mat-icon>
    <span>Zahlung angestoßen</span>
  </p>
  <p class="chip chip-error" *ngIf="'ERROR' == (order$ | async).status">
    <mat-icon>error</mat-icon>
    <span>Problem mit Bestellung</span>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>Anlagen:</b>
    <span>
      <!--Positionsliste <br />-->
      <!--Delivery notice-->
      <img
        src="http://172.20.10.13:3000/delivery-notice/{{
          (order$ | async).id
        }}?reload={{ reload }}"
        alt=""
        style="width:100%"
      />
    </span>
  </p>

  <form (ngSubmit)="onSubmit()">
    <button
      type="button"
      (click)="fileInput.click()"
      mat-raised-button
      color="primary"
      class="blue"
    >
      <span>Lieferschein hinzufügen</span>
      <input
        #fileInput
        type="file"
        name="image"
        (change)="onFileSelected($event)"
        style="display:none;"
      />
    </button>
  </form>
  <br />
  <mat-action-row>
    <button
      type="button"
      (click)="completeOrder()"
      class="blue"
      *ngIf="'PAY' != (order$ | async).status"
      mat-raised-button
      color="primary"
    >
      Lieferung akzeptieren
    </button>
  </mat-action-row>
</section>
