/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  background-color: #eeeeee;
}

.label-list {
  display: grid;
  grid-template-columns: 40px auto;
}
.label-list label {
  margin-right: 5px;
  grid-column: 1;
  align-self: center;
}
.label-list span {
  grid-column: 2;
  align-self: center;
}
