<h2 style="margin-left:10px;" *ngIf="(truckWeights$ | async).length != 0">
  Nicht zugeordnete Gewichte
</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let truckWeight of truckWeights$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-size:1.2em;">
        {{ truckWeight.total_weight }}
        <span style="font-weight: bold; margin-left:5px;">kg</span>
      </mat-panel-title>
      <mat-panel-description>
        {{ truckWeight.timestamp | date: 'medium' }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Wähle eine Bestellung</mat-label>
      <mat-select [(value)]="truckWeight.order">
        <mat-option *ngFor="let order of orders$ | async" value="{{ order.id }}"
          >{{ order.title }}({{ order.id }}) -
          {{ order.total_weight }}kg</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br />
    <mat-label>Lieferant anrufen: </mat-label>
    <a href="tel:015223068828">
      <button type="button" class="blue" mat-raised-button color="primary">
        <mat-icon>phone</mat-icon>
      </button>
    </a>

    <mat-action-row>
      <button mat-raised-button (click)="deleteTruckWeight(truckWeight)">
        Gewicht löschen
      </button>
      <button mat-raised-button color="warn" (click)="assignOrder(truckWeight)">
        Bestellung unvollständig
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="(truckWeights$ | async).length == 0">
  <img
    src="assets/checkmark.png"
    style="width:50%; margin-top:100px; margin-left:25%;"
  />
  <p style="text-align: center; font-size:1.2em;">
    Alle Gewichte erfolgreich zugeordnet.
  </p>
</div>
