<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="top" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item>
        <a matLine href="...">Info</a>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matLine href="...">Einstellungen</a>
        <button mat-icon-button>
          <mat-icon>camera</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" style="background-color:#3AAFA9;">
      <mat-icon (click)="sidenav.toggle()">dehaze</mat-icon>
      <span [routerLink]="['/']" style="text-align:center; width:100%;"
        >Skala</span
      >
      <span class="example-spacer"></span>
      <mat-icon
        [routerLink]="['/unmatched-weights']"
        matBadge="{{ (truckWeights$ | async).length }}"
        [matBadgeHidden]="(truckWeights$ | async).length <= 0"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
