<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item>
        <a matLine href="...">About</a>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matLine href="...">Settings</a>
        <button mat-icon-button>
          <mat-icon>camera</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" style="background-color:#3598DB;">
      <mat-icon (click)="sidenav.toggle()">dehaze</mat-icon>
      <span style="text-align:center; width:100%;">Skala</span>
      <span class="example-spacer"></span>
      <mat-icon (click)="sidenav.toggle()">notifications</mat-icon>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
